# nrf52832-midair configuration
#
# Copyright (c) 2020 Andrew Fernandes <andrew@fernandes.org>
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_CIAA=y
CONFIG_BOARD_NRF52832_MIDAIR=y

CONFIG_ARM_MPU=y

CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=n
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=y # From the ISP1507 Data Sheet

CONFIG_GPIO_AS_PINRESET=y
CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_GPIO=y
CONFIG_NRFX_GPIOTE=y

CONFIG_NRFX_PPI=y
CONFIG_NRFX_SYSTICK=y

CONFIG_ADC=y
CONFIG_ADC_0=y

CONFIG_PWM=y
CONFIG_PWM_0=y
CONFIG_PWM_1=y
CONFIG_PWM_2=y

CONFIG_SPI=y
CONFIG_SPI_0=y
CONFIG_NRFX_SPIM0=y
CONFIG_SOC_NRF52832_ALLOW_SPIM_DESPITE_PAN_58=y

CONFIG_I2C=y
CONFIG_I2C_1=y
CONFIG_NRFX_TWIM1=y

CONFIG_POLL=y
CONFIG_ADC_ASYNC=y
CONFIG_SPI_ASYNC=y
#|CONFIG_I2C_ASYNC=y # Doesn't exist in zephyr-v2.2.0-1666-gf3b4d8a86f

CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_DEVICE_RANDOM_GENERATOR=y

# Nordic RTC1 is used for the system clock
# Nordic RTC0   may be reserved for Bluetooth
# Nordic TIMER0 may be reserved for Bluetooth
#
CONFIG_COUNTER=y
CONFIG_COUNTER_RTC2=y
CONFIG_COUNTER_TIMER1=y
CONFIG_COUNTER_TIMER2=y
CONFIG_COUNTER_TIMER3=y
CONFIG_COUNTER_TIMER4=y
