[submodule "zephyr"]
	path = zephyr
	url = git@github.com:adfernandes/zephyr.git
[submodule ".west/west"]
	path = .west/west
	url = https://github.com/zephyrproject-rtos/west.git
[submodule "modules/segger"]
	path = modules/segger
	url = git@github.com:zephyrproject-rtos/segger.git
[submodule "modules/nordic"]
	path = modules/nordic
	url = git@github.com:zephyrproject-rtos/hal_nordic.git
[submodule "modules/stmemsc"]
	path = modules/stmemsc
	url = git@github.com:zephyrproject-rtos/hal_st.git
[submodule "modules/cmsis"]
	path = modules/cmsis
	url = git@github.com:zephyrproject-rtos/cmsis.git
