# Kconfig - nrf52832-midair board configuration
#
# Copyright (c) 2019 Andrew Fernandes <andrew@fernandes.org>
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_NRF52832_MIDAIR

config BOARD
	default "nrf52832_midair"

config HAS_STMEMSC
       default y

config USE_STDC_LSM6DSOX
       default y

endif # BOARD_NRF52832_MIDAIR
