#
# Copyright (c) 2019 Andrew Fernandes <andrew@fernandes.org>
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_ARM=y
CONFIG_ARM_MPU=y

CONFIG_FLOAT=y

CONFIG_SOC_FAMILY_NRF=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_CIAA=y

CONFIG_BOARD_NRF52832_MIDAIR=y

CONFIG_SPI_0=y
CONFIG_SPI_0_NRF_SPIM=y
CONFIG_SOC_NRF52832_ALLOW_SPIM_DESPITE_PAN_58=y

CONFIG_I2C_1=y
CONFIG_I2C_1_NRF_TWIM=y

CONFIG_ADC=y
CONFIG_GPIO=y

#|CONFIG_CPLUSPLUS=y
#|CONFIG_STD_CPP14=y
#|CONFIG_LIB_CPLUSPLUS=y
