# midair-yy4geij configuration
#
# Copyright (c) 2020 Andrew Fernandes <andrew@fernandes.org>
# SPDX-License-Identifier: Apache-2.0

if BOARD_MIDAIR_YY4GEIJ

config BOARD
	default "midair_yy4geij"

config HAS_STMEMSC
       default y

config USE_STDC_LSM6DSOX
       default y

endif # BOARD_MIDAIR_YY4GEIJ
